body {
    background-color: #c1cfff;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 70vh;
    height: 70vh;
    resize: none;
    background-color: #c1cfff;
    border-radius: 10%;
    border-color: #c1cfff;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
}

#textoTraducido {
    background-color: white;
    border-color: white;
}

#div-texto-traducido {
    border-radius: 10%;
    background-color: white;
}

#texto-sin-traducir {
    border-radius: 10%;
    background-color: white;
    border-color: white;
}

.botones {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    border-radius: 20%;
    background-color: #4771ff;
    border-color: #4771ff;
    border-style: dashed;
    color: white;
    padding: 2vh;
}

.boton-en-de:hover {
    color: #4771ff;
    background-color: white;
    border-color: white;
}

.boton-cop:hover {
    color: #4771ff;
    background-color: #c1cfff;
    border-color: #c1cfff;
}

.boton-cop {
    margin-bottom: 0.5vh;
}

@media (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .ingreso-text {
        display: flex;
        align-items: center;
    }

    #div-texto-traducido {
        align-items: center;;
    }
    
    #textoATraducir {
        width: 70vh;
        height: 50vh;
    }

    #textoTraducido {
        width: 70vh;
        height: 15vh;
        line-height: 5vh;
        font-size: 3vh;
    }

    .botones {
        margin-bottom: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #imagen-sin-traduccion {
        display: none;
    }
}

@media (max-width: 500px) {
    .ingreso-text {
        display: flex;
        flex-direction: column;
    }

    .botones {
        display: flex;
        flex-direction: column;
    }

    .botones button {
        margin: 0.5vh;
    }

    #textoATraducir {
        height: 40vh;
    }

    #textoTraducido {
        width: 50vh;
        line-height: 5vh;
        font-size: 3vh;
    }
}